<div class="admin-announcement-container">
  <mat-card id="main-mat-card">
    <div id="headder">
      <p>RESOURCE</p>
    </div>
    <div class="mat-content">
      <div id="topInputs">
        <div class="small-field-container">
          <mat-form-field id="priorityForm">
            <input matInput id="priority" placeholder="Priority" />
          </mat-form-field>
        </div>
        <div class="small-field-container">
          <mat-form-field id="displayNameForm">
            <input matInput id="displayName" placeholder="Display Name *" />
          </mat-form-field>
        </div>
        <div class="small-field-container">
          <mat-form-field id="displayDescForm">
            <input matInput id="displayDesc" placeholder="Display Description (optional)" />
          </mat-form-field>
        </div>
      </div>

      <div id="source">
        <p>Please provide one source: <span id="star">*</span></p>
        <mat-radio-button #webAddress value="1">Web Address</mat-radio-button>
        <mat-form-field *ngIf="webAddress.checked" id="webAddressForm">
          <input matInput />
        </mat-form-field>
        <br /><br /><br />

        <mat-radio-button #showAttachment ng-value="true" value="2">Attachment</mat-radio-button>
        <!--Attachment- Side buttons-->
        <button mat-button id="uploadButton" *ngIf="showAttachment.checked">
          Upload
        </button>
        <input type="file" value="Click me" id="uploadButtonIn" name="photo" ng2FileSelect [uploader]="uploader" />

        <a href="#" *ngIf="showAttachment.checked"> <mat-icon>attach_file</mat-icon>View file</a>
        <button mat-button id="DeleteButton" *ngIf="showAttachment.checked">
          Delete
        </button>
      </div>

      <div id="footer">
        <button mat-button id="PreviewButton"><mat-icon>remove_red_eye</mat-icon> Preview</button>
        <button mat-button id="saveButton" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">Save</button>
        <button mat-button id="cancelButton">Cancel</button>
        <button mat-button id="deleteButton">Delete</button>
      </div>
    </div>
  </mat-card>

  <br />

  <p class="bottom_p">Newsfeed Article ID: 4</p>
  <p class="bottom_p">Created by Shirley Mangallon on Oct 2, 2019 3:45pm</p>
  <p class="bottom_p">Last modified by Urmila Chunoo on Oct 7, 2019 9:30am</p>
</div>
