<div *ngIf="navData.children">
  <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
    <span class="full-width" *ngIf="isExpanded || isShowing">{{navData.label}} </span>
    <mat-icon mat-list-icon>{{navData.icon}}</mat-icon>
    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">
      expand_more
    </mat-icon>
  </mat-list-item>
  <app-sub-menu-list *ngFor="let navData of navData.children" [navDatas]="navData" [showSubmenu]="showSubmenu"
    [isExpanded]="isExpanded">
  </app-sub-menu-list>
</div>

<div *ngIf="!navData.children">
  <mat-list-item class="parent">
    <span class="full-width" *ngIf="isExpanded || isShowing">{{navData.label}}</span>
    <mat-icon mat-list-icon>{{navData.icon}}</mat-icon>

  </mat-list-item>
</div>