<div *ngIf="data" class="admin-announcement-container">
  <mat-card class="main-container">
    <mat-card-title>
      <p class="card-title">NEWSFEED ARTICLE</p>
    </mat-card-title>

    <div class="container">
      <form #newsfeedForm="ngForm" novalidate>
        <div class="sub-container">
          <div class="small-fields-container">
            <mat-form-field>
              <input matInput placeholder="Title" [ngModel]="data.title" name="title" required />
            </mat-form-field>
          </div>
          <div class="small-fields-container">
            <mat-form-field>
              <input matInput placeholder="Headline" [ngModel]="data.headline" name="headline" required />
            </mat-form-field>
          </div>

          <div class="small-fields-container">
            <mat-form-field>
              <mat-select matInput placeholder="Status" [ngModel]="data.status" name="status" required>
                <ng-container>
                  <mat-option value="Active">Active</mat-option>
                  <mat-option value="Closed">Closed</mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="small-fields-container">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Publish Date" [ngModel]="data.publishDate"
                name="publishDate" required />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <quill-editor [ngModel]="data.content" [styles]="editorStyle" placeholder="Enter Text" [modules]="config"
          name="content">
        </quill-editor>


        <div class="actions-box">
          <mat-card-actions>
            <button class="is-rounded" color="accent" mat-stroked-button [routerLink]="['./preview', id]">
              <mat-icon>remove_red_eye</mat-icon> <span>Preview</span>
            </button>

            <div class="right-buttons">
              <button *ngIf="id < 1" mat-flat-button class="is-rounded" color="primary" (click)="addOneFeed()">
                <span>Save</span>
              </button>
              <!-- <span>{{newsfeedForm.value | json}}</span> -->
              <button *ngIf="id >= 1" mat-flat-button class="is-rounded" color="primary"
                (click)="updateOneFeed(newsfeedForm.value)">
                <span>Save</span>
              </button>

              <button mat-stroked-button class="is-rounded red" color="primary" (click)="goBack()">
                <span>Cancel</span>
              </button>

              <button mat-button color="primary" [disabled]="id < 1">
                <mat-icon>delete</mat-icon> <span>Delete</span>
              </button>
            </div>
          </mat-card-actions>
        </div>
      </form>
    </div>
    <!-- Inner HTML works -->
    <!-- <div>
      <h3>Output</h3>
      <p class="my-5" [innerHTML]="data.content"></p>
    </div> -->



    <mat-card-content class="mat-elevation-z8"> </mat-card-content>
  </mat-card>
</div>

<!-- <div *ngIf="!data" class="admin-announcement-container">
  <mat-card class="main-container">
    <mat-card-title>
      <p class="card-title">NEWSFEED ARTICLE</p>
    </mat-card-title>

    <div class="container">
      <form>
        <div class="sub-container">
          <div class="small-fields-container">
            <mat-form-field>
              <input matInput placeholder="Title" (value)="(data.title)" required color="primary" />
            </mat-form-field>
          </div>
          <div class="small-fields-container">
            <mat-form-field>
              <input matInput placeholder="Headline *" (value)="(data.headline)" required />
            </mat-form-field>
          </div>

          <div class="small-fields-container">
            <mat-form-field>
              <mat-select matInput placeholder="Status *" (value)="(data.status)" required>
                <ng-container>
                  <mat-option value="active">Active</mat-option>
                  <mat-option value="closed">Closed</mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="small-fields-container">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Publish Date *" (value)="(data.publishDate)"
                required />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </form>

      <form [formGroup]="editorForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <quill-editor [style]="editorStyle" [modules]="config" (onContentChanged)="maxLength($event)"
            formControlName="editor"></quill-editor>
        </div>
        <button class="is-rounded" color="accent" mat-button>
          Submit
        </button>
      </form>
    </div>
    <div>
      <h3>Output</h3>
    </div>

    <div class="actions-box">
      <mat-card-actions>
        <button class="is-rounded" color="accent" mat-stroked-button>
          <mat-icon>remove_red_eye</mat-icon> <span>Preview</span>
        </button>

        <div class="right-buttons">
          <button mat-flat-button class="is-rounded" color="primary" (click)="addOneFeed()">
            <span>Save</span>
          </button>

          <button mat-stroked-button class="is-rounded red" color="primary" (click)="goBack()">
            <span>Cancel</span>
          </button>

          <button mat-button color="primary">
            <mat-icon>delete</mat-icon> <span>Delete</span>
          </button>
        </div>
      </mat-card-actions>
    </div>

    <mat-card-content class="mat-elevation-z8"> </mat-card-content>
  </mat-card>
</div> -->