<div class="agents-resources-container">
  <mat-card class="resources-container">
    <mat-card-title>
      <h4 class="card-title">Resouces for Agencies</h4>
    </mat-card-title>
    <p>
      Seneca International want to ensure you and your staff are well equipped.
      We provide forms, gudelines, manuals and reference materials you can use
      to assist you in using our systems.
    </p>

    <p>
      <a
        class="link"
        href="https://www.senecacollege.ca/international/agency-information/registered-seneca-agent.html"
        >Agency Forms and Student Forms</a
      ><br />Please visit our website to access all availiable forms.
    </p>

    <p>
      <a
        class="link"
        href="https://www.senecacollege.ca/international/agency-information/registered-seneca-agent.html"
        >Agency Handbook 2019</a
      >
      <br />Guiding you on how to operate our Agent Portal. This system is where
      you will update your company's information and apply for commission.
    </p>

    <p>
      <a
        class="link"
        href="https://www.senecacollege.ca/international/agency-information/registered-seneca-agent.html"
        >Marketing Materials, Photes and Videos</a
      ><br />Please visit our website to access our digital marketing material.
    </p>
    <br />
    <mat-card-title>
      <h4 class="card-title">Need Printed Marketing Materials?</h4>
    </mat-card-title>

    <p>
      <br />
      If you require printed copies of Seneca's promotional material, please
      complete the form and submit. We will mail out an envelope of materials to
      you.
    </p>

    <button class="mkt-material">
      <a class="link" href="https://www.senecacollege.ca/international.html"
        >Request Marketin Material</a
      >
    </button>
  </mat-card>
</div>
