.admin-announcement-container {
  padding: 2.5vw;
  background: #fafafa 0% 0% no-repeat padding-box;
  opacity: 1;
}

.main-container {
  padding: unset;
  border-radius: 10px;
}

.mat-card-title {
  display: block;
  background-color: #da291c;
  border-radius: 10px 10px 0 0;
}

.card-title {
  color: #ffffff;
  padding-top: 6px;
  margin: unset;
  margin-left: 50px;
  padding: 8px;
}

::ng-deep .mat-form-field-infix {
  border-top: 0.1em solid transparent;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-suffix {
  top: 0.5em !important;
}

.actions-box {
  display: flex;
  flex-direction: column;
}

.mat-card-actions {
  display: flex;
  justify-content: space-between;
  margin: 45px 0;
  padding-top: unset;
}

.mat-card-content {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}

.is-rounded {
  border-radius: 25px;
  width: 165px;
  height: 45px;
}

.red {
  border-color: #da291c;
}

button.mat-stroked-button.mat-button-base:hover {
  background: #da291c;
  color: white;
}

::ng-deep .mat-card-actions mat-icon {
  margin-right: 10px;
}

.small-fields-container {
  display: flex;
  flex: 1;
  justify-content: center;
}
.small-fields-container:nth-child(2) {
  flex: 2;
}

.sub-container {
  display: flex;
  flex: 1;
  margin-bottom: 20px;
}

.mat-form-field {
  width: 90%;
}

.container {
  padding-top: 50px;
  margin: 0 5vw;
}

.editor {
  width: 10px;
}

/* .form-group {
  margin: 0 2vw;
  padding: 10px;
  padding-top: 25px;
} */

.actions-box {
  display: flex;
}

.right-buttons {
  justify-content: flex-end;
}

::ng-deep .mat-focused .mat-form-field-required-marker {
  color: #da291c;
}
