<div class="admin-announcement-container">
  <mat-card class="main-container">
    <mat-card-title>
      <p class="card-title">ANNOUNCEMENT</p>
    </mat-card-title>

    <div class="container">
      <form class="course-container">
        <div class="course-sub-container">
          <div class="small-fields-container">
            <mat-form-field>
              <input matInput placeholder="Priority" />
            </mat-form-field>
          </div>
          <div class="small-fields-container">
            <mat-form-field>
              <input matInput placeholder="Title *" />
            </mat-form-field>
          </div>

          <div class="small-fields-container">
            <mat-form-field>
              <mat-select matInput placeholder="Status *">
                <ng-container>
                  <mat-option value="active">Active</mat-option>
                  <mat-option value="closed">Closed</mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="small-fields-container">
            <mat-form-field>
              <input
                matInput
                [matDatepicker]="fromPicker"
                placeholder="Publish FROM *"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="fromPicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #fromPicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="small-fields-container">
            <mat-form-field>
              <input
                matInput
                [matDatepicker]="toPicker"
                placeholder="Publish TO *"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="toPicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #toPicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </form>

      <!-- <form [formGroup]="editorForm">
        <div class="form-group">
          <label for="editor"> <h3>Editor</h3></label>
          <quill-editor formControlName="editor"></quill-editor>
        </div>
      </form> -->
      <form>
        <label> <h3>Editor</h3></label>
      </form>
    </div>
    <div class="actions-box">
      <mat-card-actions>
        <button class="is-rounded" color="accent" mat-stroked-button>
          <mat-icon>remove_red_eye</mat-icon> <span>Preview</span>
        </button>

        <button mat-stroked-button class="is-rounded" color="accent">
          <span>Save</span>
        </button>

        <button mat-stroked-button class="is-rounded" color="accent">
          <span>Save</span>
        </button>
      </mat-card-actions>
    </div>

    <mat-card-content class="mat-elevation-z8"> </mat-card-content>
  </mat-card>
</div>
