/* .mat-horizontal-stepper {
  text-align: center;
  overflow: hidden;
  padding: 0;
}

.mat-stepper-horizontal .mat-form-field {
  width:100%;
} */

.admin-page-container {
  display: flex;
  justify-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mat-horizontal-stepper-header-container {
  width: 90%;
  margin: auto;
}

::ng-deep .mat-horizontal-content-container {
  width: 100%;
}

::ng-deep .mat-horizontal-stepper-header-container {
  width: 75%;
  margin: auto;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: #da291c;
}
