<app-header></app-header>
<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{ !isLinear ? 'Enable linear mode' : 'Disable linear mode' }}
</button> -->
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    Some step content
    <app-admin-announcements></app-admin-announcements>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup"
    >Some step content
    <app-admin-newsfeed></app-admin-newsfeed>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>

    <app-admin-resources></app-admin-resources>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
<!-- <app-header></app-header> -->

<div class="admin-page-container">
  <div class="stepper align-items-center">
    <mat-horizontal-stepper labelPosition="bottom" linear>
      <mat-step label="Announcements" completed="true">
        <app-admin-announcements></app-admin-announcements>
      </mat-step>
      <mat-step label="Newsfeed" completed="true">
        <app-admin-newsfeed></app-admin-newsfeed>
      </mat-step>
      <mat-step label="Resources" completed="false">
        <app-admin-resources></app-admin-resources>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
