/* .mat-horizontal-stepper {
  text-align: center;
  overflow: hidden;
  padding: 0;
}

.mat-stepper-horizontal .mat-form-field {
  width:100%;
} */

.admin-page-container {
  display: flex;
  justify-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mat-horizontal-stepper-header-container {
  width: 960px;
  margin: auto;
}

::ng-deep .mat-horizontal-content-container {
  width: 90vw;
}

::ng-deep .mat-horizontal-stepper-header-container {
  width: 60vw;
  margin: auto;
}
