<!-- <div class="container"> -->
<mat-toolbar class="seneca-header" color="primary">
  <span class="logo-left">
    <button mat-icon-button (click)="toggleNav()">
      <mat-icon>menu</mat-icon>
    </button>

    <img src="../../../../assets/imgs/Seneca-International-Horizontal-Logo.svg" alt="seneca-logo-white" />
  </span>

  <span class="text-right">
    <p>ADMIN PORTAL | Welcome Angela Dunn!</p>
  </span>
</mat-toolbar>

<!-- <mat-drawer-container class="example-container mat-typography" autosize> -->
<mat-drawer #drawer mode="side" opened="true">
  <!-- <mat-nav-list>
        <a [routerLink]="['./home']" routerLinkActive="active-link">
          <mat-list-item>
            <mat-icon mat-list-icon>home</mat-icon>
            <span mat-line *ngIf="isExpanded">
              Home
            </span>
          </mat-list-item>
        </a>

        <mat-list-item>
          <mat-icon mat-list-icon>person</mat-icon>
          <span mat-line *ngIf="isExpanded">
            Agents
          </span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>folder_shared</mat-icon>
          <span mat-line *ngIf="isExpanded">IWA</span>
        </mat-list-item>

        <mat-list-item>
          <mat-icon mat-list-icon>monetization_on</mat-icon>
          <span mat-line *ngIf="isExpanded">Commissions</span>
        </mat-list-item> -->

  <!-- <mat-expansion-panel class="mat-elevation-z0 " *ngIf="isExpanded">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon mat-list-icon>rss_feed</mat-icon>

              <h4 mat-line *ngIf="isExpanded || isShowing">Content</h4>
            </mat-panel-title>
          </mat-expansion-panel-header> -->

  <!-- <mat-nav-list>
          <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
            <span class="full-width" *ngIf="isExpanded || isShowing">Content</span>
            <mat-icon mat-list-icon>rss_feed</mat-icon>
            <mat-icon class="menu-button" [ngClass]="{ rotated: showSubmenu }" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
          </mat-list-item>

          <div class="submenu" [ngClass]="{ expanded: showSubmenu }" *ngIf="isShowing || isExpanded">
            <a mat-list-item [routerLink]="['./content/announcements']" routerLinkActive="active-link">
              <mat-list-item>Announcement</mat-list-item>
            </a>

            <a mat-list-item [routerLink]="['./content/newsfeed']" routerLinkActive="active-link">
              <mat-list-item> Newsfeed</mat-list-item>
            </a>

            <a mat-list-item [routerLink]="['./content/resources']" routerLinkActive="active-link">
              <mat-list-item>Resources</mat-list-item>
            </a>
          </div>
        </mat-nav-list>

        <mat-list-item>
          <mat-icon mat-list-icon>pan_tool</mat-icon>
          <span mat-line *ngIf="isExpanded">Request</span>
        </mat-list-item>

        <mat-list-item>
          <mat-icon mat-list-icon>settings_applications</mat-icon>
          <span mat-line *ngIf="isExpanded">System Admin</span>
        </mat-list-item>

        <mat-list-item [routerLink]="['/login']" routerLinkActive="active-link">
          <mat-icon mat-list-icon>exit_to_app</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Logout</h4>
        </mat-list-item>
      </mat-nav-list> -->
</mat-drawer>
<!-- <router-outlet></router-outlet> -->
<!-- </mat-drawer-container> -->
<!-- </div> -->