<div class="container">

  <mat-toolbar class="seneca-header" color="primary">
    <span class="logo-left">
      <button mat-icon-button (click)="isExpanded = !isExpanded">
        <mat-icon>menu</mat-icon>
      </button>

      <img src="../../../../assets\imgs\Seneca-International-Horizontal-Logo-color.svg" alt="seneca-logo-white" />
    </span>

    <span class="text-right">
      <p>ADMIN PORTAL | Welcome Angela Dunn!</p>
    </span>
  </mat-toolbar>



  <mat-drawer-container class="example-container mat-typography" autosize>
    <mat-drawer #drawer mode="side" disableClose="true" opened="true">

        <mat-nav-list >
            <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
          </mat-nav-list>

    </mat-drawer>
    <router-outlet></router-outlet>
  </mat-drawer-container>
</div>


