a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mat-toolbar {
  border-radius: 3px;
  background: #888b8d;
  text-align: center;
  font-size: 16px;
}

.mat-toolbar a {
  flex: 1 1 100%;
  border: 0.5px solid #d4d2d2;
  padding: 10px;
}

.active-link {
  background: #da291c;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: unset;
  padding: unset;
}

.mat-icon {
  display: block;
  width: unset;
}
