<p>agent-newsfeed works!</p>
<mat-card>
    <mat-card-header>
        <mat-card-title>Newsfeed for Agency</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div *ngFor="let feed of data" class="newsfeed">
            <a [routerLink]="['./', feed.id]"> {{feed.title}}</a>
            <mat-divider></mat-divider>
            <p>{{feed.headline}}</p>
            <pre>{{feed.publishDate | date}}</pre>
        </div>
    </mat-card-content>

</mat-card>