<div class="agents-newsfeed-container">
  <mat-card class="newsfeed-container">
    <mat-card-title><h4 class="card-title">Newsfeed for Agencies</h4></mat-card-title>

    <mat-form-field appearance="outline" class="search-bar">
      <input matInput (keyup)="applyFilter($event.target.value)" maxlength="256" placeholder="Search" />
      <mat-icon matSuffix>search</mat-icon>
      <mat-hint align="start">Example: Title, Headline </mat-hint>
    </mat-form-field>

    <mat-card-content class="newsfeed-content">
      <div *ngFor="let feed of data" class="newsfeed">
        <a class="links" [routerLink]="['./', feed.id]"> {{ feed.title }}</a>
        <p>{{ feed.headline }}</p>
        <pre>{{ feed.publishDate | date }}</pre>
      </div>
    </mat-card-content>

    <mat-paginator [length]="[10]" [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card>
</div>
