.mat-card-title {
  display: flex;
  justify-content: space-between;
}

.admin-announcement-container {
  padding: 32.5px;
  background: #fafafa 0% 0% no-repeat padding-box;
  opacity: 1;
}

.search-bar {
  width: 382px;
  font-size: 20px;
  margin-left: 30px;
  margin: 30px;
}

.card-title {
  border-top: 4px solid #da291c;
  padding-top: 6px;
  justify-content: space-around;
  margin-left: 35px;
}

.mat-card-content {
  margin: 30px;
  margin-bottom: 30px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}

.mat-card-content > :last-child:not(.mat-card-footer),
.mat-card > :last-child:not(.mat-card-footer) {
  margin-bottom: 30px;
}

table {
  width: 100%;
}

.mat-header-cell,
.mat-cell {
  flex: auto;
}

.is-rounded {
  border-radius: 25px;
  padding: 2px 30px;
  background: #da291c;
  cursor: pointer;
  margin-right: 40px;
  margin-left: 40px;
  width: 165px;
  height: 45px;
}

.preview {
  border-radius: 25px;
  padding: 2px 30px;
  margin: 30px;
  color: #0099ff;
  cursor: pointer;
  justify-content: end;
  width: 165px;
  height: 45px;
}

.mat-stroked-button {
  margin: 50px;
}

.mat-card-actions .mat-icons {
  margin: 10px;
}

.mat-row:hover {
  background: #da291c;
  opacity: 1;
}
