/* You can add global styles to this file, and also import other style files */
// Themes
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './themes.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: minion-pro, serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  color: #55585a;
  opacity: 1;
}

// title
h4 {
  font-size: 30px;
}
//paragraph
p {
  font-size: 16px;
  color: #333333;
  font-weight: 400;
}

.mat-step-header .mat-step-icon-selected {
  background-color: #da291c;
  color: #fff;
}

.mat-step-header .mat-step-icon {
  background-color: #888b8d;
  color: #fff;
}
